.transport-steps {
  background: $navyBlue;
  padding: 1rem 0;
  @media screen and(max-width: 991px) {
    display: none;
  }
  .transport-steps-wrapper {
    display: flex;
    & > div {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      .number {
        border: 1px solid $mutedDark;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        font-weight: 700;
        margin-right: 0.5rem;
      }
      p {
        margin-bottom: 0;
      }
      &.active {
        color: $white;
        .number {
          border-color: $white;
        }
      }
    }
  }
}
.transport-type {
  padding: 1rem 0;
  margin-bottom: 3rem;
  background: darken($color: $white, $amount: 5);
  .transport-type-wrapper {
    [class*='col-'] {
      margin-bottom: 0 !important;
    }
    .form-group.input-group {
      margin-bottom: 1rem !important;
    }
    .transport-item {
      display: flex;
      text-align: center;
      flex-direction: column;
      padding: 1rem;
      border: 2px solid transparent;
      height: calc(100% - 2rem);
      margin: 1rem;
      border-radius: 0.5rem;
      transition: 0.2s;
      cursor: pointer;
      span {
        margin-bottom: 0.5rem;
        &.icon {
          font-size: 3rem;
          color: $blueAsh;
        }
      }
      &:hover {
        border: 2px solid $blueAsh;
        color: $blueAsh;
        background: transparentize($color: $blueAsh, $amount: 0.95);
      }
    }
  }
}
